<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=LAPTOP-M6HVHICA\SQLEXPRESS;Initial Catalog=TestDB2;Integrated Security=SSPI"/>
    <add name="TestDBConnectionString" connectionString="Data Source=LAPTOP-M6HVHICA\SQLEXPRESS;Initial Catalog=TestDB;Integrated Security=SSPI"/>
    <add name="AdWorks" connectionString="Data Source=LAPTOP-M6HVHICA\SQLEXPRESS;Initial Catalog=AdventureWorks2019;Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>